
    <footer>
        <img class="footer-logo" src="content/logo-2.png" alt="">
        <div>&#169; 2020. Asan Tahator International Trading Company</div>
        <div>All Rights Reserved.</div>

        <a href="#" class="designed-by">Website Designed By Ali Nategh</a>
        
    </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick/slick.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>