<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!--FONT AWESOME-->
    <link href="styles/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick/slick-theme.css"/>
    <!-- Main Css File -->
    <link rel="stylesheet" href="styles/main.css">
    <title>Asan Tahator</title>
  </head>
  <body>
          <!-- NAVIGATION BAR -->
      <header>
        <div class="header-container">
          <div class="logo">
            <img src="content/logo-2.png" alt="">
            <div class="logo-text">
              Asan Tahator Trade Company
            </div> 
          </div>
          <div class="contact__us">
            <a href="#contact" class="btn contact-btn">Contact Us</a>
            
          </div>
          
          
        </div>
        
        
      </header>

      <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="#clients" class="nav-link">Clients</a></li>
        </ul>
      </nav>

      