<%- include('partials/header') %>

<!-- INTRO -->

<section id="home" class="home-section">
    <div class="intro">
        <div class="intro-title1"><h1>Asan Tahator</h1></div>
        <div class="intro-title2">International Trade Company</div>
    </div>

</section>

<section id="about" class="about-section">
    <h2>About Us</h2>
    <div class="splitter"></div>
    <div class="about-description">
        <p>Asan Tahator International Trade Company has been established for carrying out legal and commercial obligations of barter transactions; furthermore, it could arrange its foreign trade network in Persian Gulf, West Europe, and South-east Asia.
            Utilizing the banking, financial, and commercial experts, this center has been succeeded in providing appropriate services to domestic industries and factories and also it could manage suitable relations with oil and petrochemical companies.</p>
    </div>
</section>

<section id="services" class="services-section">
    <h2>Services</h2>
    <div class="splitter"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-30">
                <!--ICON-->
                <i class="fas fa-money-check-alt"></i>
                <!--Title-->
                <h3>Fund Transfer</h3>
                <!--Description-->
                <p>Transfer of funds from foreign under-sanction banks keeping Iran oil funds in South Korea, China, Turkey, India, and Japan.</p>
            </div>
            <div class="col-lg-30">
                <i class="fas fa-hand-holding-usd"></i>
                <h3>Finance</h3>
                <p>Financing Iranian companies for settlement to foreign suppliers account in foreign under-sanction banks and others.</p>
            </div>   
            <div class="col-lg-30">
                <i class="fas fa-handshake"></i>
                <h3>International Guarantees</h3>
                <p>Providing international guarantees (International tenders, Payment, and Performance).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-30">
                <!--ICON-->
                <i class="fas fa-money-bill-wave"></i>
                <!--Title-->
                <h3>Assign Payments</h3>
                <!--Description-->
                <p>Assigning Payment orders with domestic origin.</p>
            </div>
            <div class="col-lg-30">
                <i class="fas fa-funnel-dollar"></i>
                <h3>Barter Markets</h3>
                <p>Creating small foreign-domestic barter markets, including product line, trade, and projects.</p>
            </div>
            <div class="col-lg-30">
                <i class="fas fa-wallet"></i>
                <h3>Creating Infrastructures</h3>
                <p>Creating infrastructures on credit absorbing in relation with contractual obligation</p>
            </div>
        </div>
    </div>
</section>

<section id="clients" class="clients-section">
    <h2>Clients</h2>
    <div class="splitter"></div>
    <div class="clients-description">
        <p>Our company is proud to partner with the following companies</p>
    </div>
    <div class="responsive">
        <div>
            <div class="slider-item-container">
                <a href="https://ebooking.iranair.com/Booking" target="_blank">
                    <img src="content/iran-air.png" alt="">
                </a>
            </div>
        </div>
        <div>
           <div class="slider-item-container">
               <a href="https://iranairtour.ir/" target="_blank">
                   <img src="content/iran-air-tour.png" alt="">
               </a>
           </div>
        </div>
        <div>
            <div class="slider-item-container">
                <a href="https://www.kishairlines.ir/" target="_blank">
                    <img src="content/kish-air.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="slider-item-container">
                <a href="https://www.caspianairlines.com/" target="_blank">
                    <img src="content/caspian-air.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="slider-item-container">
                <a href="https://www.iaa.ir" target="_blank">
                    <img src="content/iran-aseman.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="slider-item-container">
                <a href="https://www.meraj.aero/" target="_blank">
                    <img src="content/meraj-air.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="slider-item-container">
                <a href="https://taban.aero/en/" target="_blank">
                    <img src="content/taban-air.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="slider-item-container">
                <a href="https://www.oiecgroup.com/" target="_blank">
                    <img src="content/oiec.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="slider-item-container">
                <a href="https://karunair.ir/" target="_blank">
                    <img src="content/naft-air.jpg" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="slider-item-container">
                <a href="https://qeshm-air.com/" target="_blank">
                    <img src="content/qeshm-air.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <h2>Are you Interested in working with us?</h2>
    <div class="contact-description">
        <p>We will be happy to talk with you.</p>
    </div>
    <div class="contact__us">
        <a href="#contact" class="btn contact-btn">Contact Us</a>
        
    </div>

</section>

<div class="modal">
    <i class="fas fa-times close-btn"></i>
    <h2>Contact Form</h2>
    <p>Please fill out the form below and we'll get back to you shortly.</p>
    <form action="" class="contact-form">
        <input type="text" class="form-input" placeholder="Your Name *">
        <input type="text" class="form-input" placeholder="Your Email *">
        <input type="text" class="form-input" placeholder="Subject">
        <textarea name="message" cols="30" rows="10" placeholder="Message *"></textarea>

        <input type="submit" value="Send Message" class="send-btn">
    </form>
</div>




<%- include('partials/footer') %>